@import "tailwindcss";

/* Google font link  */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* create class for geist font  */
* {
    font-family: "Geist", sans-serif;
}

/* status btn styles while selected  */
.status-btn:hover,
.selected{
    background: linear-gradient(to left, #3B82F6, #EF4444);
    color: #FFFFFF;
}

/* border-l-4 border-[#10B981] */