@import "tailwindcss";

/* Google font link  */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* create class for geist font  */
* {
    font-family: "Geist", sans-serif;
}